<html>
<head>
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="myapp" ng-controller="myctrl">
    <h3>product</h3>
    <button ng-click="seeproduct()">see</button>
    <p>{{mess}}</p>
    <p ng-repeat="p in products">{{p.name}}</p>
    <input type="text" placeholder="name" ng-model="name">
    <input type="text" placeholder="category" ng-model="category">
    <input type="number" placeholder="price" ng-model="price">
    <button ng-click="addproduct()">add</button>
    <script>
        var app=angular.module("myapp",[]);
        app.controller("myctrl",function($scope,$http){
            $scope.mess="ok";

            $scope.seeproduct=function(){
                $http.get("http://localhost:3000/product").then(function(response)
            {
                $scope.products=response.data;
            });
            
            $scope.addproduct=function(){
                var newproduct={
                    name:$scope.name,
                    category:$scope.category,
                    price:$scope.price
                };
                $http.post("http://localhost:3000/product",newproduct);
            };

            };
        });
    </script>
</body>
</html>